@font-face {
    font-family: 'Coolvetica'; 
    src: url('/police/coolvetica/coolvetica_rg.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* MOBILE */
body{
    font-family: 'Coolvetica', sans-serif;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.info_container{
    position: fixed;
    left: 10%;
    top: 30%;
    right: 10%;
    bottom: 0;
    background-color: #D1CDCA;
    border-radius: 10px;
    border: gray 2px solid;
    box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.18);
    z-index: 10000;
    overflow: auto;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 10% 0 10%;
}

.row{
    display: flex;
    justify-content: center;
}

.separateur {
    width: 2px;
    height: 100px; 
    background-color: #31c48d; 
    position: relative;
}

.separateur::before,
.separateur::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #31c48d;
}

.separateur::before {
    height: 100%; 
    top: 120px;
    left: 0;
}

.separateur::after {
    height: 100%;
    left: 0;
}

.info_animal_img{
    width: 70%;
    border-radius: 5%;
    box-shadow: 0px 0px 23px 7px rgba(0,0,0,0.26);
}

h1{
    color: #31c48d;
}

h2{
    color: #31c48d;
    text-align: center;
}

.info_animal_txt{
    margin-top: -1%;
    color: black;
    text-align: justify;
}

.petit-txt{
    font-size: 20px;
    text-wrap: nowrap;
}

.container_info{
    overflow: auto;
    width: 100px;
    height: 50px;
    background-color: #E1E0DF;
    border-radius: 5px;
    word-wrap: break-word;
    text-align: center;
    padding: 2px;
    color: black;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.26);
}

.show{
    display: block;
}

.hide{
    display: none;
}


/* PC */
@media screen and (min-width: 1280px) {
    
}