html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden; /* Empêche le défilement */
}

.hidden {
    display: none;
}

.show {
    display: block;
}

img {
    width: 100%;
    height: auto;
}

.bandeau {
    max-width: auto; /* Prend toute la largeur de l'écran */
    max-height: auto; /* Ajuste la hauteur en fonction de la taille de l'image */
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 0;
}

.video_align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5%;    
}

video {
    transform: rotate(90deg);
    max-width: 125%;
    max-height: 125%;
    border: #31c48d 20px solid;
    border-radius: 10%;
}

.centeredImage {
    display: block;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg) scale(1.25); /* déplacement de l'image de moitié de sa largeur et hauteur pour la centrer */
    border: #31c48d 20px solid;
    border-radius: 10%;
    margin-top: 5%;
    z-index: 9999;
}

.vertical-line {
    position: fixed; /* Position fixe pour la rendre visible peu importe le défilement */
    top: 0; /* Ajustez la position si nécessaire */
    bottom: 0; /* Ajustez la position si nécessaire */
    left: 50%; /* Centre horizontalement */
    width: 1px; /* Largeur de la ligne */
    background-color: black; /* Couleur de la ligne */
    z-index: 9999; /* Assurez-vous qu'elle soit au-dessus de tout autre élément */
}

.horizontal-line {
    position: fixed; /* Position fixe pour la rendre visible peu importe le défilement */
    left: 0; /* Ajustez la position si nécessaire */
    right: 0; /* Ajustez la position si nécessaire */
    top: 50%; /* Centre verticalement */
    height: 1px; /* Hauteur de la ligne */
    background-color: black; /* Couleur de la ligne */
    z-index: 5000; /* Assurez-vous qu'elle soit au-dessus de tout autre élément */
}

.bouton_principal {
    background-size: contain; 
    background-repeat: no-repeat;
    width: 20%; 
    height: auto; 
    cursor: pointer; 
    position: fixed; 
    bottom: 2%; 
    left: 50%;
    transform: translateX(-50%); /* Ajuste la position pour un centrage parfait */
    z-index: 9999;
    border: #31c48d 5px solid;
    border-radius: 50%;
    padding: 2%;
}

.red_circle {
    background-size: contain; /* Ajustez la taille de l'image pour qu'elle s'adapte au bouton */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 15%;
    height: auto;
    display: none;
    position: fixed;
    top: 88%;
    left: 20%;
    transform: translateX(-50%);
    z-index: 5009999999990;
    border: #ff0000 5px solid;
    border-radius: 50%;
    padding: 2%;
}

.green_circle {
    background-size: contain; /* Ajustez la taille de l'image pour qu'elle s'adapte au bouton */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 15%; 
    height: auto;
    display: none;
    position: fixed;
    top: 88%;
    left: 80%;
    transform: translateX(-50%);
    z-index: 5009999999990;
    border: #00ff73 5px solid;
    border-radius: 50%;
    padding: 2%;
}

.recadrer {
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 15%;
    height: auto;
    display: none;
    position: fixed;
    top: 88%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 5009999999990;
    border: #000000 5px solid;
    border-radius: 50%;
    padding: 2%;
}